version: '3.9'

services:
  portaldb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: portaldb
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "YourStrong!Passw0rd"
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

volumes:
  sql_data: